/* * {
	margin: 0;
	padding: 0;
} */

.container {
    height: 100vh;
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title h1,h2,p {
    margin-bottom: 0;
}

.sections {
	display: grid;
}

.sect, .sub-sect {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
}

.sect h2,h3 {
    margin-bottom: 0;
}

.desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desc p {
    padding-right: 1rem;
}

dt {
    font-size: medium;
    font-weight: bold;
}

dd {
    margin-bottom: 1rem;
}